{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - {{ article.title }}
{% endblock %}

{% block content %}
	<h1 class="mt-5">{{ article.title }}</h1>
	<p>{{ article.content }}</p>
	<p>{{ article.author }}</p>
	<p>{{ article.pub_date }}</p>
	{% if article.get_comments %}
	    <ul>
	    {% for c in article.get_comments %}
	        <li>
	        	{{ c.name }}
	        	{{ c.pub_date }}
	        	{{ c.content }}
	        </li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No comments are available.</p>
	{% endif %}
{% endblock %}

{% block feedback %}
    <h1>FeedBack</h1>
    <form id="feedback" action="{% url 'dracoin:mail' %}" method="post">
    {% csrf_token %}
    	<input type="text" name="subject" placeholder="Subject...">
    	<input type="email" name="from_email" placeholder="Your email">
    	<input type="submit" value="Send">
    	<input type="reset" value="Clean">
    </form>
    <textarea name="message" placeholder="Write here..." required form="feedback"></textarea>
    <a href="{% url 'dracoin:index' %}">index</a>
{% endblock %}