{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - {{ article.title }}
{% endblock %}

{% block content %}
	<h1 class="mt-5">{{ article.title }}</h1>
	<p>{{ article.content }}</p>
	<p>{{ article.author }}</p>
	<p>{{ article.pub_date }}</p>
	{% if article.get_comments %}
	    <ul>
	    {% for c in article.get_comments %}
	        <li>
	        	{{ c.name }}
	        	{{ c.pub_date }}
	        	{{ c.content }}
	        </li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No comments are available.</p>
	{% endif %}
	{% for t in article.tags.all %}
  		{% include 'dracoin/includes/tags.html' %}
    {% endfor %}
{% endblock %}
